= form_for @workout, :url => { :action => "create" }, :method => "post" do |f|
  .input
    When
    = f.date_select :when, :order => [:month, :day, :year],
                           :default => @workout_date
  .input
    Type
    = f.text_field :category
  .input
    Duration
    = fields_for @workout.duration do |duration_fields|
      Hours:
      = duration_fields.text_field :hours, :class => "duration-field", :size => 5
      = duration_fields.text_field :minutes, :class => "duration-field", :size => 5
      = duration_fields.text_field :seconds, :class => "duration-field", :size => 5
  .input
    Distance
    = f.text_field :distance
  .input
    Pace
    = f.text_field :pace
  .input
    Route
    = f.text_field :route
  .input
    Notes
    = f.text_area :notes

  = f.submit "Create Workout"
