#workout-week
  - @period.each do |day|
    .day{ :class => "period-flexbox", :id => day[:node] }
      %section.date
        .day-of-week
          = day[:week_day]
        .full-date
          = day[:formatted]
        .workout
          - if not day[:workouts].size.zero?
            - day[:workouts].each do |workout|
              = workout.category
              = workout.duration
              = workout.pace
              = workout.distance
              = workout.route
              = workout.notes
