<div class="flexbox">
    <div id="site-preview-container">
        <div class="dialog-header">
          runhub
        </div>
        
        <section class="preview-section">
            <div class="preview-point">
                <%= image_tag "checkmark.png" %>
                
                <div class="heading">Dead Easy</div>
                <div class="description">
                    Straightforward features that are easy to use.
                </div>
            </div>
            
            <div class="preview-point">
                <%= image_tag "checkmark.png" %>
                
                <div class="heading">Free</div>
                <div class="description">
                    Full access to all features, completely free.
                </div>
            </div>
            
            <div class="preview-point">
                <%= image_tag "checkmark.png" %>
                
                <div class="heading">Ad Free</div>
                <div class="description">
                    Never get distracted by a single ad.
                </div>
            </div>
        </section>
    </div>

    <div id="sign-in-container">
        <div class="dialog-header">
          Sign in
        </div>

        <section class="sign-in-section">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div><%= f.email_field :email, :class => "big-input", :placeholder => "email address" %></div>
              
              <div><%= f.password_field :password, :class => "big-input", :placeholder => "password" %></div>

              <span><%= f.submit "Sign in", :class => "button" %></span>
              
              
              <% if devise_mapping.rememberable? -%>
                <span class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></span>
              <% end -%>
              
            <% end %>
        </section>
    </div>
</div>

<a href="http://github.com/MichaelDrogalis/run-hub"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>