<div id="sign-up-flexbox">
    <div id="run-hub-preview">
        <div class="run-hub-heading">
            <h1>runhub</h1>
        </div>
        
        <div class="preview-point flexbox">
            <%= image_tag "checkmark.png" %>
            
            <div class="point">
                <div class="heading">Dead Easy</div>
                <div class="description">
                    Straightforward features that are easy to use.
                </div>
            </div>
        </div>
        
        <div class="preview-point flexbox">
            <%= image_tag "checkmark.png" %>
            
            <div class="point">
                <div class="heading">Free</div>
                <div class="description">
                    Full access to all features, completely free.
                </div>
            </div>
        </div>
        
        <div class="preview-point flexbox">
            <%= image_tag "checkmark.png" %>
            
            <div class="point">
                <div class="heading">Ad Free</div>
                <div class="description">
                    Never get distracted by a single ad.
                </div>
                </div>
            </div>
        </div>

    <div id="sign-in-container">
        <div class="dialog-header">
          <h2>Sign in</h2>
        </div>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>
          
          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in" %></div>
        <% end %>

        <%= render :partial => "devise/shared/links" %>
    </div>
</div>

<a href="http://github.com/MichaelDrogalis/run-hub"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>