<div id="sign-in-container">
    <div class="dialog-header">
      <h2>Sign in</h2>
    </div>

    <section class="sign-in-section">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :class => "big-input" %></div>
          
          <div><%= f.label :password %><br />
          <%= f.password_field :password, :class => "big-input" %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in" %></div>
        <% end %>

        <%= render :partial => "devise/shared/links" %>
    </div>
</div>

<a href="http://github.com/MichaelDrogalis/run-hub"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>