#fb-root
%script{:src => "http://connect.facebook.net/en_US/all.js"}
:javascript
  window.fbAsyncInit = function() {
    FB._https = window.location.protocol == "https:";
    FB.init({appId: "319094718102433", cookie:true, status:true, xfbml:true});
    FB.Canvas.setAutoResize(false);
    FB.Canvas.setSize({ "width": 760, "height": 700 });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

  function login(args)
  {
    var uid = args[2][0]['session']['uid']
    var access_token = args[2][0]['session']['access_token']
    window.location = '/?uid=' + uid + '&fbtoken=' + access_token;
  }

.flexbox
  #site-preview-container
    .dialog-header
      The ultimate running log
    %section.preview-section
      .preview-point
        .heading
          %span.point-bullet
            ▶
          Dead Easy
        .description
          Start logging and socializing in seconds
      %hr
      .preview-point
        .heading
          %span.point-bullet
            ▶
          Free
        .description
          Put the credit card away - not needed here
      %hr
      .preview-point
        .heading
          %span.point-bullet
            ▶
          No Ads
        .description
          My personal promise - your eyes won't bleed
  #sign-in-container
    .dialog-header
      Sign in
    %section.sign-in-section
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %div= f.email_field :email, :class => "big-input", :placeholder => "email address"
        %div= f.password_field :password, :class => "big-input", :placeholder => "password"
        %span= f.submit "Sign in", :class => "homepage-button"
        - if devise_mapping.rememberable?
          %span.remember-me
            = f.check_box :remember_me
            = f.label :remember_me
        %fb:login-button{"on-login" => "login(arguments)", :perms => "offline_access,email,user_about_me,user_birthday"} Login with Facebook


    = link_to "Create an Account", new_user_registration_path, :method => "get", :class => "homepage-button", :id => "sign-up-button"

%a#github{:href => "http://github.com/MichaelDrogalis/run-hub"}
  %img{:alt => "Fork me on GitHub", :src => "https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", :style => "position: absolute; top: 0; right: 0; border: 0;"}/
