!!!

%html
  %head
    %title RunHub
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    %nav.main-bar
      = image_tag "runhub-logo.png", :class => "logo"

    = alert
    = notice

    #main-content
      .login-wrapper
        = yield
