!!!

%html
  %head
    %title RunHub
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    %nav.main-bar
      %section.current-user
        - if user_signed_in?
          = current_user.email

          .sign-out
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
      = image_tag "runhub-logo-small.png", :id => "small-logo"

    = alert
    = notice
    
    #main-content
      = yield

