!!!

%html
  %head
    %title RunHub
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    %nav.main-bar
      %section.current-user
        - if user_signed_in?
          = link_to gravatar_image_tag(current_user.email, :alt => current_user.username, :height => 30, :title => "Click to change your avatar"), "http://gravatar.com/emails/"
          
          = link_to current_user.email, profile_path(current_user.username)

          .sign-out
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
      = image_tag "runhub-logo-small.png", :id => "small-logo"

    = alert
    = notice
    
    - if content_for?(:content)
      = yield(:content)
    - else
      #main-content
        = yield
    
